/*------Start Body Style------*/
body {
    padding: 0px;
    margin: 0px;
}
/*------End Body Style-------*/

/*------Start div-form Style------*/
.form {
    position:relative;
    display:inline-block;
    margin-left: 450px;
    padding: 100px;
    text-align: center;
}
/*------End div-form Style-------*/

/*------Start input Style------*/
input {
   display: block;
   padding: 5px;
   margin:10px;
   border-radius: 1px;
}
/*------End input Style-------*/